@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-primary {
  font-family: var(--font-primary);
}